@use "../../../designSystem/_library" as *;

.testimonialsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  background-color: $orange-30;
  padding-top: 30px;
  padding-bottom: 112px;
  text-align: center;

  @media (max-width: 1000px) {
    margin-top: 80px;
    padding-top: 0px;
    padding-bottom: 42px;
  }

  .headingText {
    @media (max-width: 1000px) {
      font-size: 26px;
      margin-top: 82px;
    }
  }

  .testimonialsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 60px;

    .testimonialListContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      position: relative;

      .leftArrowContainer,
      .rightArrowContainer {
        width: 48px;
        height: 48px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        z-index: 1;

        svg {
          path {
            stroke: $gray-500 !important;
          }
        }
      }

      .rightArrowContainer {
        svg {
          path {
            stroke: $black-200 !important;
          }
        }
      }

      .testimonialListWrapper {
        height: 381px;
        position: relative;
        z-index: 0;
        overflow-x: hidden;
      }

      .testimonialList {
        display: flex;
        width: 80vw;
        height: 321px;
        gap: 30px;
        position: relative;

        .testimonialCard,
        .testimonialCardActive {
          position: absolute;
          left: 0;
          top: 0;
          background-color: white;
          padding: 30px;
          border-radius: 10px;
          box-shadow: 0px 6px 50px 0px #0000001a;
          width: 370px;
          height: 321px;
          flex: none;
          z-index: 11;
          display: flex;
          flex-direction: column;
          align-items: start;
          transition: all 0.3s ease-in-out;

          .quoteContainer {
            margin-bottom: 22px;
          }

          .testimonialText {
            text-align: left;
            margin-bottom: 22px;
          }
          .name {
            margin-bottom: 5px;
          }

          .university {
            color: $gray-400;
            font-size: 14px;
            font-weight: 400;
            line-height: 150%;
            text-align: left;
          }
        }

        .testimonialCardActive {
          top: 60px;
        }
      }

      .nextCard {
        position: absolute;
        left: 0;
        top: 0;
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 6px 50px 0px #0000001a;
        width: 370px;
        height: 321px;
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: start;

        .quoteContainer {
          margin-bottom: 22px;
        }

        .testimonialText {
          text-align: left;
          margin-bottom: 22px;
          color: $black-200;
        }
        .name {
          margin-bottom: 5px;
          color: $black-200;
        }

        .university {
          color: $gray-400;
          font-size: 14px;
          font-weight: 400;
          line-height: 150%;
          text-align: left;
        }
      }
    }

    .dotsContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      margin-top: 110px;
      width: 100%;

      .dot {
        width: 8px;
        height: 8px;
        background-color: $orange-300;
        border-radius: 50%;
        cursor: pointer;
      }

      .dotActive {
        width: 12px;
        height: 12px;
        background-color: $black-200;
      }
    }
  }

  .testimonialsContainerMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    .testimonialListContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      position: relative;
      width: 100vw;
      overflow: hidden;
      padding: 0 20px;
      margin-top: 40px;

      .testimonialCard {
        background-color: white;
        height: 320px;
        width: 280px;
        border-radius: 10px;
        box-shadow: 0px 6px 50px 0px #0000001a;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: start;
        flex-shrink: 0;
        position: relative;

        .leftArrowContainer,
        .rightArrowContainer {
          position: absolute;
          width: 40px;
          height: 40px;
          background-color: white;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          z-index: 1;
          box-shadow: 0px 8px 30px 0px #0a02171f;
          top: 50%;
          transform: translateY(-50%);

          svg {
            path {
              stroke: $gray-500 !important;
            }
          }
        }

        .leftArrowContainer {
          left: -25px;
        }
        .rightArrowContainer {
          right: -25px;
        }

        .quoteContainer {
          margin-bottom: 18px;
        }

        .testimonialText {
          text-align: left;
          margin-bottom: 22px;
          color: $black-200;
        }
        .name {
          margin-bottom: 5px;
          color: $black-200;
        }

        .university {
          color: $gray-400;
          font-size: 14px;
          font-weight: 400;
          line-height: 150%;
          text-align: left;
        }
      }
    }

    .dotsContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      margin-top: 110px;
      width: 100%;

      .dot {
        width: 8px;
        height: 8px;
        background-color: $orange-300;
        border-radius: 50%;
        cursor: pointer;
      }

      .dotActive {
        width: 12px;
        height: 12px;
        background-color: $black-200;
      }
    }
  }
}
