// Primary Colors
$purple-30: #dbd9ff;
$purple-100: #6c48f0;
$purple-200: #b5a3f7;
$purple-300: #805eff;

$yellow-30: #ffe7c9;

$orange-30: #ffdcd8;
$orange-100: #ff7361;
$orange-200: #fdc98d;
$orange-300: #c3acad;
$orange-400: #fdaf4d;

$gray-100: #d3d5db;
$gray-200: #b9b8d9;
$gray-300: #b7b6d7;
$gray-400: #64647a;
$gray-500: #ced0d4;
$gray-600: #e0e0e4;

$blue-100: #226cf5;

$black-100: #000000;
$black-200: #0e1b2c;
$black-300: #263241;
