// Font Face Declarations

@font-face {
  font-family: "BuenosAires";
  src: url("../assets/fonts/AOKBuenosAiresRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BuenosAires";
  src: url("../assets/fonts/AOKBuenosAiresRegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BuenosAires";
  src: url("../assets/fonts/AOKBuenosAiresSemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BuenosAires";
  src: url("../assets/fonts/AOKBuenosAiresSemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BuenosAires";
  src: url("../assets/fonts/AOKBuenosAiresBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BuenosAires";
  src: url("../assets/fonts/AOKBuenosAiresBoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
