// Mixins

@mixin center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin center-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
